@import "@fortawesome/fontawesome-free/css/all.min.css";

input:-webkit-autofill {
    -webkit-text-fill-color: rgb(240, 236, 236) !important;
    transition: background-color 5000s ease-in-out 0s!important;
}
input:-moz-autofill {
    transition: background-color 5000s ease-in-out 0s!important;
}
input:-ms-autofill {
    transition: background-color 5000s ease-in-out 0s!important;
}

* {
    padding: 0;
    margin: 0;
    color: rgb(240, 236, 236);
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "BNCE" 0,
      "INFM" 0,
      "SPAC" 0;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-image: url('./src/assets/bgmin.webp');
    background-size: cover;
    background-position: top; //center
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: brightness(0.87) blur(1px);
}

#content {
    display: flex;
    min-width: 50vw;
    min-height: 50vh;
    margin: auto;
    padding: 15px;

    a:hover {
        background-color: rgba(105, 160, 150, 0.9);
    }
    button:hover {
        background-color: rgba(105, 160, 150, 0.9);
    }

    a, button, textarea {
        outline: none;
    }
}

footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 0px;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        i {
            color: rgb(95, 160, 150);
            font-size: 30px;
            vertical-align: sub;
        }
    }

    #copy {
        font-size: 12px;
        text-align: center;
    }
}

.show {
    display: block;
}

.noshow {
    display: none!important;
}
