#calendar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    min-height: 70vh;
    max-width: 60vw;
    max-height: 70vh;
    position: relative;

    .main {
        flex-grow: 1;
        display: flex;
        overflow: hidden;

        .left {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .calendar {
                flex-grow: 1;
                display: grid;
                grid-template-columns: repeat(7, auto);
                grid-template-rows: auto auto 1fr; /* Rows for month, weekdays, days */
                gap: 10px;

                .month {
                    grid-column: 1 / span 7;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0% 0% 2%;
                    height: fit-content;

                    .prev, .next {
                        cursor: pointer;
                        font-size: 1.2rem;
                        padding: 3px;

                        &:hover {
                            background-color: rgb(105, 160, 150);
                            border-radius: 25%;
                        }
                    }
                }

                .weekdays {
                    grid-column: 1 / span 7;
                    display: grid;
                    grid-template-columns: repeat(7, auto);
                    text-align: center;
                    height: fit-content;
                }

                .days {
                    grid-column: 1 / span 7;
                    display: grid;
                    grid-template-columns: repeat(7, auto);

                    .day {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        min-height: 70px;
                        min-width: 70px;
                        max-height: 70px;
                        max-width: 70px;

                        &.active::before {
                            content: '';
                            position: absolute;
                            width: 60%;
                            height: 60%;
                            border-radius: 50%;
                            z-index: -1;
                            background-color: rgb(149, 218, 205);//rgba(87, 131, 123, 0.9);
                        }

                        &:hover {
                            background-color: rgba(105, 160, 150, 0.9);
                            border-radius: 25%;
                        }

                        &.event {
                            color:  #b5e06b;
                            font-weight: 700;
                        }
                        &.today::after {
                            content: '';
                            position: absolute;
                            border: 1px solid white;
                            border-radius: 50%;
                            width: 60%;
                            height: 60%;
                        }
                    }
                }
            }

            .goto-today {
                display: flex;
                align-items: center;

                .goto {
                    display: flex;

                    .date-input {
                        min-width: 200px;
                        margin-right: 10px;
                    }

                    .goto-btn {
                        min-width: 50px;
                    }
                }

                .today-btn {
                    margin-left: 10px;
                    min-width: 50px;
                    min-height: 37px;
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            min-width: 35%;
            min-height: 35%;
            position: relative;

            .today-date {
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 2%;
            }

            .events {
                flex-grow: 1;
                padding: 3%;
                display: flex;
                flex-direction: column;
                overflow: scroll;

                .no-event {
                    margin: auto;
                }

                .event {
                    margin: 10px 0px;
                    .title {
                        display: flex;
                        align-items: center;

                        i {
                            margin-right: 15px;
                            font-size: 0.7rem;
                        }

                        .delete-event-btn {
                            margin-left: auto;
                            cursor: pointer;
                        }
                    }
                    .event-time {
                        font-size: 0.9rem;
                        text-align: center;
                    }
                }
            }

            .add-event-wrapper {
                position: absolute;
                bottom: 20px;
                right: 20px;
                max-height: 0;
                width: 0;
                overflow: hidden;
                border-radius: 0px 20px 0 20px;
                background-color: rgb(111,154,138);
                transform: translateY(-50%);
                transition: all 0.5s ease;
                z-index: 2;

                .add-event-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .close {
                        cursor: pointer;
                    }
                }

                .add-event-footer {
                    display: flex;
                    justify-content: center;
                    margin-top: 3%;

                    button {
                        padding: 3%;
                        border: 1px solid white;
                        border-radius: 10px;
                        background-color: transparent;
                        cursor: pointer;
                    }
                }
            }

            .add-event-wrapper.active {
                max-height: 300px;
                bottom: calc(0% - 80px);
                right: 25px;
                width: 80%;
                padding: 5%;
                border: 1px solid white;
            }

            .add-event {
                min-width: 40px;
                min-height: 40px;
                font-size: 1rem;
                color: white;
                border: 2px solid white;
                opacity: 0.5;
                border-radius: 50%;
                background-color: transparent;
                cursor: pointer;
                align-self: flex-end;
            }
            .add-event:hover {
                opacity: 1;
                background-color: rgb(111,154,138);
            }
        }
    }

    button {
        padding: 1%;
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        cursor: pointer;
    }

    a {
        position: absolute;
        top: -30px;
        left: -110px;
        text-decoration: none;
        font-size: 2rem;
        background-color: rgba(95, 160, 150, 0.8);
        border-radius: 50%;
        padding: 10px;
    }

    input {
        width: 100%;
        border: none;
        border-bottom: 2px solid rgb(240, 236, 236);
        outline: 0;
        font-size: 16px;
        color: rgb(240, 236, 236);
        padding: 7px 0;
        background: transparent!important;
        transition: border-color 0.4s;

        &::placeholder {
            color: white;
            opacity: 0.3;
        }
    }

    input[type=time]::-webkit-datetime-edit-minute-field, ::-webkit-datetime-edit-hour-field {
        background-color: transparent;
    }
    input[type=time]::-webkit-datetime-edit-minute-field:focus, ::-webkit-datetime-edit-hour-field:focus {
        color: rgb(69 97 86);
    }
    input[type=time]::-webkit-calendar-picker-indicator {
        filter: brightness(0) saturate(100%) invert(33%) sepia(9%) saturate(1160%) hue-rotate(105deg) brightness(97%) contrast(85%);
    }

    @media screen and (max-width: 920px) {
        /* Styles for screens smaller than 768px */

        .main {
            flex-direction: column;

            .add-event-wrapper.active {
                bottom: calc(0% - 50px);
            }
        }
    }
}
