#calendar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    max-height: 60vh;
    max-width: 80vw;
    background-color: rgba(95, 160, 150, 0.8);
    border-radius: 25px;
    padding: 30px;
    position: relative;

    .main {
        flex-grow: 1;
        display: flex;
        overflow: hidden;

        .left {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            min-width: 60%;

            .calendar {
                flex-grow: 1;

                display: flex;
                flex-direction: column;
                .month {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 10px;
                    height: fit-content;

                    .prev, .next {
                        cursor: pointer;
                        font-size: 1.2rem;
                        padding: 3px;

                        &:hover {
                            background-color: rgb(105, 160, 150);
                            border-radius: 25%;
                        }
                    }
                }

                .weekdays {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .days {
                    grid-column: 1 / span 7;
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    padding-bottom: 10px;
                    flex-grow: 1;

                    .day {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        &.active::before {
                            content: '';
                            position: absolute;
                            width: 60%;
                            height: 60%;
                            border-radius: 50%;
                            z-index: -1;
                            background-color: rgb(149, 218, 205);
                        }

                        &:hover {
                            background-color: rgba(105, 160, 150, 0.9);
                            border-radius: 25%;
                        }

                        &.event {
                            color:  #b5e06b;
                            font-weight: 700;
                        }
                        &.today::after {
                            content: '';
                            position: absolute;
                            border: 1px solid white;
                            border-radius: 50%;
                            width: 60%;
                            height: 60%;
                        }
                    }
                }
            }

            .goto-today {
                display: flex;
                align-items: center;

                .goto {
                    display: flex;

                    .date-input {
                        min-width: 200px;
                        margin-right: 10px;
                    }

                    .goto-btn {
                        min-width: 50px;
                    }
                }

                .today-btn {
                    margin-left: 10px;
                    min-width: 50px;
                    min-height: 37px;
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            min-width: 40%;
            max-width: 400px;
            position: relative;

            .today-date {
                display: flex;
                align-self: center;

                .event-day {
                    margin-right: 5px;

                    &::after {
                        content: ',';
                    }
                }
            }

            .events {
                flex-grow: 1;
                margin: 15px 0px 15px 15px;
                padding-right: 15px;
                display: flex;
                flex-direction: column;
                overflow: auto;

                .no-event {
                    margin: auto;
                }

                .event {
                    display: flex;
                    align-items: baseline;
                    margin: 10px 0px;
                    max-width: 100%;
                    .ev_content {
                        max-width: 90%;
                        .title {
                            display: flex;
                            align-items: baseline;
                            padding-right: 10px;

                            .event-title {
                                max-width: 100%;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            i {
                                margin-right: 15px;
                                font-size: 0.7rem;
                            }
                        }
                        .event-time {
                            font-size: 0.9rem;
                            margin: 5px 10px 0px;
                            width: 100%;
                        }
                    }
                    .delete-event-btn {
                        cursor: pointer;
                        margin-left: auto;
                    }
                }
            }

            .add-event-wrapper {
                position: absolute;
                bottom: 20px;
                right: 20px;
                max-height: 0;
                width: 0;
                overflow: hidden;
                border-radius: 0px 20px 0 20px;
                background-color: rgb(111,154,138);
                transform: translateY(-50%);
                transition: all 0.5s ease;
                z-index: 2;

                .add-event-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .close {
                        cursor: pointer;
                    }
                }

                .add-event-footer {
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;

                    button {
                        padding: 10px;
                        border: 1px solid white;
                        border-radius: 10px;
                        background-color: transparent;
                        cursor: pointer;
                    }
                }
            }

            .add-event-wrapper.active {
                max-height: 300px;
                bottom: calc(0% - 80px);
                right: 25px;
                width: 80%;
                padding: 5%;
                border: 1px solid white;
            }

            .add-event {
                min-width: 40px;
                min-height: 40px;
                font-size: 1rem;
                color: white;
                border: 2px solid white;
                opacity: 0.5;
                border-radius: 50%;
                background-color: transparent;
                cursor: pointer;
                align-self: flex-end;
            }
            .add-event:hover {
                opacity: 1;
                background-color: rgb(111,154,138);
            }
        }
    }

    button {
        border: 1px solid white;
        border-radius: 10px;
        background-color: transparent;
        cursor: pointer;
    }

    a {
        position: absolute;
        top: 0;
        left: -70px;
        text-decoration: none;
        font-size: 2rem;
        background-color: rgba(95, 160, 150, 0.8);
        border-radius: 50%;
        padding: 10px;
    }

    input {
        width: 100%;
        border: none;
        border-bottom: 2px solid rgb(240, 236, 236);
        outline: 0;
        font-size: 16px;
        color: rgb(240, 236, 236);
        padding: 7px 0;
        background: transparent!important;
        transition: border-color 0.4s;

        &::placeholder {
            color: white;
            opacity: 0.3;
        }
    }

    input[type=time]::-webkit-datetime-edit-minute-field, ::-webkit-datetime-edit-hour-field {
        background-color: transparent;
    }
    input[type=time]::-webkit-datetime-edit-minute-field:focus, ::-webkit-datetime-edit-hour-field:focus {
        color: rgb(69 97 86);
    }
    input[type=time]::-webkit-calendar-picker-indicator {
        filter: brightness(0) saturate(100%) invert(33%) sepia(9%) saturate(1160%) hue-rotate(105deg) brightness(97%) contrast(85%);
    }

    @media screen and (max-width: 1110px) {
        .main {
            flex-direction: column;

            .left {
                overflow: hidden;

                .goto-today {
                    margin-top: 10px;
                }

                .calendar {
                    overflow: hidden;

                    .days {
                        overflow: auto;

                        .day {
                            aspect-ratio: auto;
                        }
                    }
                }
            }

            .right {
                margin: 20px 0 0 0;
                min-height: 40%;
                max-height: 40%;
                min-width: 100%;

                .events {
                    margin: 10px 0px;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    .event {
                        width: 90%;
                        word-break: break-word;
                    }

                    .no-event {
                        grid-column: span 2;
                    }
                }


            }

            .add-event-wrapper.active {
                bottom: calc(0% - 50px);
            }
        }
    }
}
