<div id="home">
    <div id="auth" class="noshow">
        <h1>Welcome, <span id="user"></span></h1>
        <div class="buttons">
            <a data-route href="/notes">Notes</a>
            <a data-route href="/todo">ToDos</a>
            <a data-route href="/calendar">Calendar</a>
            <a data-route href="/finance">Finance</a>
            <a data-route href="/login" id="logout">Logout</a>
        </div>
    </div>

    <div id="noauth" class="show">
        <h1>Welcome to Planner app</h1>
        <div class="buttons">
            <a data-route href="/register" data-register>Register an account</a>
            <a data-route href="/login" data-login>Sign in</a>
        </div>
    </div>
</div>
