<h1>HOME</h1>

<nav id="auth" style="display: none;">
    When logged in look
    <ul class="nav">
        <li><a data-route href="/notes">Notes</a></li>
        <li><a data-route href="/todo">ToDos</a></li>
        <li><a data-route href="/calendar">Calendar</a></li>
        <li><a data-route href="/finance">Finance</a></li>
        <li><a data-route href="/login" id="logout">Logout</a></li>
        <!-- <li><a data-route href="/login">Login</a></li>
        <li><a data-route href="/register">Register</a></li> -->
    </ul>
</nav>

<div id="noauth" style="display: block;">
    <h1>When not logged in look</h1>
    <a data-route href="/register" data-register>Register if you don't have an account yet</a>
    <a data-route href="/login" data-login>Or login</a>
</div>
