#home {
    .noshow {
        display: none;
    }

    .show {
        display: block;
    }

    display: flex;
    background-color: rgba(95, 160, 150, 0.8);
    border-radius: 25px;
    padding: 30px;
    margin: 0 auto;
    min-width: 30vw;

    #noauth {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
;

        .buttons {
            margin: auto;

            a {
                text-decoration: none;
                border: 1px solid white;
                padding: 10px;
                border-radius: 10px;
                display: block;
                width: fit-content;
                margin: 20px auto;
                font-size: 18px;
            }
        }
    }

    #auth {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .buttons {
            margin: auto 0;
            display: grid;
            column-gap: 10px;
            grid-template-rows: auto auto auto;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            a {
                text-decoration: none;
                border: 1px solid white;
                padding: 10px;
                border-radius: 10px;
                display: block;
                text-align: center;
                font-size: 18px;
            }

            [href="/notes"],
            [href="/todos"] {
                grid-row: 1;
                grid-column: span 1;
            }

            [href="/calendar"],
            [href="/finance"] {
                grid-row: 2;
                grid-column: span 1;
            }

            #logout {
                grid-row: 4;
                grid-column: span 2;
            }
        }
    }
}
