<div id="notes">
    <a data-route class="fas fa-house" href="/"></a>
    <div class="scrollable">
        <div id="sort_search">
            <select id="sort">
                <option disabled selected value="none">Sort Notes</option>
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
            </select>
            <input type="text" id="search" placeholder="Search notes...">
        </div>
        <div id="list">
        </div>
    </div>
    <div class="add-note-wrapper">
        <div class="add-note-header">
            <div class="title">New note</div>
            <i class="fas fa-times close"></i>
        </div>
        <div class="add-note-body">
            <div class="add-note-input">
                <input type="text" placeholder="Note Title" class="note-title" />
            </div>
            <textarea placeholder="Write your note here..." class="note-text"></textarea>
        </div>
        <div class="add-note-footer">
            <button class="add-note-btn">Add note</button>
            <button class="update-note-btn">Save</button>
        </div>
    </div>
    <button class="add-note">
        <i class="fas fa-plus"></i>
    </button>
</div>
