<div id="notes">
    <a data-route class="fas fa-house" href="/"></a>
    <div id="sort_search">
        <select id="sort">
            <option disabled selected value="none">Sort Notes</option>
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
        </select>
        <input type="text" id="search" placeholder="Search notes...">
    </div>
    <div id="list">
    </div>
    <div class="note_wrapper">
        <div class="wrapper_note_header">
            <div class="title">New note</div>
            <i class="fas fa-times close"></i>
        </div>
        <div class="wrapper_note_body">
            <div class="note_input">
                <input type="text" placeholder="Note Title" class="note_title" />
            </div>
            <textarea placeholder="Write your note here..." class="note_text"></textarea>
        </div>
        <div class="wrapper_note_footer">
            <button class="add_note_btn">Add note</button>
            <button class="update_note_btn close">Save</button>
        </div>
    </div>
    <button class="open_wrapper">
        <i class="fas fa-plus"></i>
    </button>
</div>
