<form class="form" id="login" name="login">
    <h1 class="form_title">Sign in to your Planner</h1>
    <div class="form_message form_message_error"></div>
    <div class="form_input_group">
        <input type="text" class="form_input" id="username" autofocus autocomplete="off" placeholder="">
        <label for="name" class="form_label">Username</label>
        <div class="form_input_error_message"></div>
    </div>
    <div class="form_input_group">
        <input type="password" class="form_input" id="password" autofocus placeholder="">
        <label for="password" class="form_label">Password</label>
        <div class="form_input_error_message"></div>
    </div>
    <button class="form_button" type="submit" id="continue">Continue</button>
    <p class="form_text">
        <a class="form_link" data-route href="/register" id="linkCreateAccount">Don't have an account? Create account</a>
    </p>
</form>
