<div id="todos">
    <a data-route class="fas fa-house" href="/"></a>
    <div class="scrollable">
        <div id="list">
        </div>
    </div>
    <div class="todo_wrapper">
        <div class="wrapper_todo_header">
            <div class="title">New todo</div>
            <i class="fas fa-times close"></i>
        </div>
        <div class="wrapper_todo_body">
            <div class="wrapper_todo_input">
                <input type="text" placeholder="Todo Title" class="todo_title"/>
            </div>
            <div class="add_item">
                <input type="text" placeholder="Add item..." class="input_item"/>
                <button class="item_btn">Add</button>
            </div>
            <div class="items_container"></div>
        </div>
        <div class="wrapper_todo_footer">
            <button class="add_todo_btn">Add todo</button>
            <button class="update_todo_btn close">Save</button>
        </div>
    </div>
    <button class="open_wrapper">
        <i class="fas fa-plus"></i>
    </button>
</div>
